*.o
*.cache/
Makefile.in
Makefile
stamp-h1
aclocal.m4
configure
config.h
config.h.in
config.h.in~
Makefile.in
config.log
config.status
install-sh
setsync.pc
config.guess
config.sub
m4/
version.m4
depcomp
libtool
ltmain.sh
missing
setsync-*.tar.gz
.deps/
.cproject
.project
/doxygen
